<div class="about">
  <p>This is my first angular project</p>
  <p>
    This
    <a href="https://www.youtube.com/watch?v=3dHNOWTI7H8" target="_blank"
      >video</a
    >
    helped me
  </p>
  <br />
  <p>run 'npm run server'</p>
  <br />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quisquam nam
    architecto at error maxime, rerum consectetur praesentium repudiandae
    possimus cupiditate hic asperiores maiores, a voluptatum. Molestiae sint
    perferendis labore.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo unde est
    cumque quos nesciunt tempora provident, pariatur reprehenderit officiis
    aliquam ab nihil debitis dolore quasi eius magni similique aperiam illum!
  </p>
  <br />
  <p>
    &#169;2022
    <a href="https://github.com/NikDzub" target="_blank">Niki dzubenko</a>
  </p>
</div>
