.task {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 15px;
  padding: 0px 0px 15px 0px;
  border-radius: 5px;
  background-color: whitesmoke;
  border-bottom: 3px solid black;
}
.delete {
  background-color: black;
  position: relative;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  color: red;
  transition: 0.3s;
}
.delete:hover {
  color: black;
  background-color: red;
}
.bell {
  color: grey;
  cursor: pointer;
  padding: 0px 7px;
  margin: 5px 0px;
  transition: 0.3s;
  margin-right: 10px;
}
.bell:hover {
  color: rgb(255, 251, 0);
}
.bell:active {
  color: black;
}
.reminderOn {
  color: orange;
}
.expired {
  color: grey;
}
.details {
  font-weight: 200;
  font-size: 0.8rem;
  padding-top: 20px;
}
.infoIcon {
  color: grey;
  cursor: pointer;
  padding: 0px 7px;
  margin: 5px 0px;
  transition: 0.3s;
  margin-right: 10px;
}
.infoIcon:hover {
  color: yellow;
}
.infoActive {
  color: yellow;
}
.iconsContainer {
  background-color: black;
  padding: 5px 5px 5px 5px;
  margin-bottom: 30px;
}
h4,
p {
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
}
