h4,
p {
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
}
.task {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 15px;
  padding: 0px 0px 15px 0px;
  border-radius: 5px;
  background-color: whitesmoke;
  border-bottom: 3px solid black;
}
.delete {
  background-color: darkslategray;
  position: relative;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  color: crimson;
  transition: 0.3s;
}
.delete:hover {
  color: black;
  background-color: crimson;
}
.details {
  font-weight: 200;
  font-size: 0.8rem;
  padding-top: 20px;
}
.expired {
  color: grey;
}
.iconsContainer {
  background-color: black;
  padding: 5px 5px 5px 5px;
  margin-bottom: 30px;
}
.taskIcon {
  padding: 0px 7px;
  margin: 5px 0px;
  color: lightgray;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}
.taskIcon:hover {
  color: gold;
}
.infoActive {
  color: gold;
}
.reminderOn {
  color: gold;
}
.onEdit {
  color: gold;
}
.editor {
  padding: 5px;
}
.editor input {
  border: 0px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 90%;
}
