<div class="tasks">
  <app-add-task (onAddTask)="addTask($event)"></app-add-task>
  <div class="searchContainer">
    <input
      id="searchInput"
      [(ngModel)]="searchString"
      autocomplete="off"
      (input)="filterName()"
      placeholder="Search"
    />
  </div>

  <app-task-item
    *ngFor="let task of tasksToShow"
    class="task"
    [task]="task"
    (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)"
  >
  </app-task-item>
  <p *ngIf="tasksToShow.length == 0" class="noTasks">(no tasks found)</p>
</div>
