.tasks {
  padding: 10px;
  margin: 0px;
}
.noTasks {
  font-size: 0.7rem;
  font-weight: 200;
  padding-top: 50px;
  text-align: center;
}
.searchContainer {
  text-align: center;
}
#searchInput {
  border: 0px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 70%;
}
