.container {
  align-self: center;
  width: auto;
  margin: auto;
  max-width: 370px;
  margin-top: 10px;
  border: 1px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: lightgray;
  min-height: 450px;
}
