form {
  margin: 0px 15px 15px 15px;
  border: 1px solid black;
  border-top: 1rem solid black;
  padding: 5px;
  text-align: left;
  border-bottom: 3px solid black;
  border-radius: 5px;
}
input {
  border: 0px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 90%;
}
label {
  font-size: 0.8rem;
  font-weight: 400;
}
.submit {
  background-color: rgb(50, 167, 60);
  width: 40%;
  border: 1px solid black;
  font-weight: 500;
  color: whitesmoke;
  transition: 0.4s;
  cursor: pointer;
  margin-top: 30px;
}

.checkbox {
  display: none;
}
.bell {
  color: grey;
  cursor: pointer;
  margin-left: 5px;
  padding: 0px 5px;
  border-radius: 2px;
  border: 1px solid grey;
  transition: 0.3s;
}
.bell:hover {
  border: 1px solid black;
}
.bell:active {
  color: black;
}
.reminderOn {
  color: orange;
}
